*
analysis
analysis/*
!analysis/README.md
!config
!config/*
!docs
!docs/*
!resources
!resources/**
!.github
!.github/**
!workflow
!workflow/**
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!.yamllint.yml
!.flake8
!LICENSE
!README.md
!.release-please-manifest.json
!version.txt
!.readthedocs.yaml
!MPRAOligoDesign.drawio
!MPRAOligoDesign.png
!MPRAOligoDesign.pdf

# python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
