---
reference:
  genome: resources/reference/hg38_test.chrom.sizes
  fasta: resources/reference/hg38_test.fa
datasets:
  # variants_regions:
  #   - config/test_datasets_variants_regions_github.tsv
  regions_only:
    - config/test_datasets_regions_only_github.tsv

oligo_length: 150

tiling:
  remove_edge_variants: true
  min_overlap: 50
  strategies:
    centering:
      max: 150
    two_tiles:
      max: 250 # 170 wil be used because of 2*150 -2 *50 -2*15
      include_variant_edge: true
  variant_edge_exclusion: 15
oligo_design:
  variants:
    use_most_centered_region: false
    remove_unused_regions: true
  filtering:
    max_homopolymer_length: 10
    max_simple_repeat_fraction: 0.25
  adapters:
    left: AGGACCGGATCAACT
    right: CATTGCGTGAACCGA
