---
reference:
  genome: /data/cephfs-1/work/projects/cubit/current/static_data/reference/hg38/ucsc/hg38.fa.genome
  fasta: /data/cephfs-1/work/projects/cubit/current/static_data/reference/hg38/ucsc/hg38.fa

datasets:
  variants_only: 
   - config/test_datasets_variants_only.tsv
  # variants_regions: 
  #  - config/test_datasets_variants_regions.tsv
  # regions_only: 
  #  - config/test_datasets_regions_only.tsv

oligo_length: 150

tiling:
  remove_edge_variants: true
  min_overlap: 50
  strategies:
    centering:
      max: 250
    two_tiles:
      max: 250 # 170 wil be used because of 2*150 -2 *50 -2*15
      include_variant_edge: true
  variant_edge_exclusion: 15
oligo_design:
  variants:
    use_most_centered_region: false
    remove_unused_regions: true
  filtering:
    max_homopolymer_length: 10
    max_simple_repeat_fraction: 0.25
  adapters:
    left: AGGACCGGATCAACT
    right: CATTGCGTGAACCGA
