$schema: "https://json-schema.org/draft/2020-12/schema"

description: snakemake configuration file

type: object

# possible entries of the config file and which type they should be
properties:
  # start_reference
  reference:
    type: object
    description: reference genome
    properties:
      genome:
        type: string
        description: Path to genome file
      fasta:
        type: string
        description: Path to fasta file
  # start_datasets
  datasets:
    type: object
    description: datasets to be processed
    properties:
      variants_only:
        description: "List of tsv files with variants and samples  to be processed"
        type: array
        items:
          type: string
      regions_only:
        description: "List of tsv files with regions and samples to be processed"
        type: array
        items:
          type: string
      variants_regions:
        description: "List of tsv files with variants, regions and samples  to be processed"
        type: array
        items:
          type: string
      sequences_only:
        description: "List of tsv files with sequences to be processed"
        type: array
        items:
          type: string
  # start_oligo_length
  oligo_length:
    type: integer
    description: "Length of oligos to be designed"
    minimum: 1
# end_oligo_length

# entries that have to be in the config file for successful validation
required:
  - reference
  - datasets
  - oligo_length
